# Cache
__pycache__/
*.py[cod]
*.pyo

# Reperes
.ipynb_checkpoints/
*.ipynb~         

# Environement virtuel
.venv/
venv/
env/
.env

#untrack init files
__init__.py

# Ignorer les fichiers d'images dans les datasets
**/african_plums_dataset/**/*.jpg
**/african_plums_dataset/**/*.jpeg
**/african_plums_dataset/**/*.png
**/african_plums_dataset/**/*.tiff
**/african_plums_dataset/**/*.gif

# Contenu des datasets
Plums/
african_plums_dataset/cleaned_data/
african_plums_dataset/superclass_data/
african_plums_dataset/Sets/
african_plums_dataset/defect_data/
african_plums_dataset/processed_csv.csv
african_plums_dataset/organized_plums_data_new.csv
african_plums_dataset/class_weights.json

# Ignorer les fichiers temporaires générés par les notebooks
**/Notebooks/*.ipynb_checkpoints/
Notebooks/runs/
runs/           
wandb/          
       
# Images
*.webp
*.bmp
*.gif

API/**/*.png
API/**/*.jpg
API/**/*.jpeg

Models/Trained/**/*.png
Models/Trained/**/*.jpg

.DS_Store
Thumbs.db
desktop.ini

.idea/
.vscode/
*.code-workspace

# Ignorer les fics
**/Models/*.pt            
*.ckpt          
*.onnx          
*.tflite 
*.yaml

# Ignorer les fichiers caches (exemples de caches générés par PyTorch, TensorFlow, etc.)
**/*cache*
**/Models/*.json
**/API/*.json

# Ignorer les logs
*.log
*.tmp
*.bak
*.swp         
*.swo
*.db

# Ignorer les répertoires de virtualenvs
.venv/
venv/

# Ignorer les fichiers de configuration spécifiques à certains outils
.DS_Store
Thumbs.db
desktop.ini

# Ignorer les répertoires de modèles (entraînés et non entraînés)
/Models/Trained/**/runs_*
/Models/Trained/**/run*
/Models/Untrained/**/runs_*
/Models/Untrained/**/run*
/Models/Trained-DefectClass/**/runs_*
/Models/Trained-DefectClass/**/run*
/Models/Trained-Superclass/**/runs_*
/Models/Trained-Superclass/**/run*
/Models/Untrained/
/Models/**/*.png

#/Models

# Ignorer tous les fichiers temporaires et répertoires de sauvegarde
*.swp
*.swo

API/websocket_test_results.json

# Untrack frontend files
/frontend/node_modules/*
/frontend/node_modules
/frontend/build
/frontend/dist
/frontend/.env
/frontend/.env.local
/frontend/.env.development
/frontend/.env.development.local
/frontend/.env.test
/frontend/.env.test.local
/frontend/coverage
/frontend/*.log
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/public/build