/* frontend/src/components/Footer/Footer.css */

@import '../../index.css';
.footer {
    color: var(--black-80);
    text-align: center;
    font-size: var(--s-font);
    padding: 20px 0;
    margin: 0;
}