@import './index.css';
.App {
    width: 100vw;
    height: 100vh;
    background: var(--white);
}

.App>h1 {
    text-align: center;
}

.App .Content {
    padding: var(--pad);
    min-height: 80vh;
    background: blue;
    margin-bottom: 50px;
}